/*top_bg*/
.top_bg{height: 500px;}
.top_bg video{min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translate(-50%,-10%);left: 50%; position: fixed; text-align: center;position: fixed; z-index: -9999}
.top_bg .top_text{position: absolute; width: 100%; padding-top: 100px; margin-top: 130px; color: #fff; text-align: center;}
.top_bg h2{font-size: 55px; line-height: 70px; color: #fff; padding-bottom: 10px; border-bottom:5px solid rgba(255,255,255,0.2); margin-bottom: 0px; font-weight: 900; display: inline-block;}
.top_bg p{padding-top: 15px; font-size: 20px; display: block;}

.angleArea{width: 100%; height: auto;}
.wrap > div{background-size: cover}

/*box01*/
.box01{padding: 700px 0px; background-color: #fff; background: url('../img/content_bg.png')no-repeat center; position: relative; margin-top: -200px; color: #828282;}
.box01 li{list-style: none;}
.box01 h2{font-size: 28px; text-align: center; line-height: 32px; margin: 0 auto;}
.box01 .bottle_img{width: 60%; margin: 0 auto;}
.box01 .bottle_img li{width: 33%; height: auto; margin: 0 auto; margin-top: 80px; float: left; overflow: hidden; padding:15% 3.333%; border: 1px solid #fff;}
.box01 .bottle_img li:first-child{background: url('../img/insta1.jpg')no-repeat center; background-size: cover; border-radius: 20% 0% 0% 20% ;}
.box01 .bottle_img li:nth-child(2){background: url('../img/bottle_4.jpg')no-repeat center; background-size: cover;}
.box01 .bottle_img li:last-child{background: url('../img/insta2.jpg')no-repeat center; background-size: cover; border-radius: 0% 20% 20% 0% ;}
.box01_text{padding-top: 25%; width: 80%; margin: 0 auto;}
.box01_text li{list-style: none; width: 40%; height: 180px; float: left; border-bottom: 3px solid #def2ff; margin: 0% 5%;}
.box01_text li p{text-align: center; line-height: 27px; height: 27px;}
.plus_text{text-align: center; margin: 0 auto; display: block; height: 300px; line-height: 300px; width: 80%;}
.bottle{width: 10px; height: 10px; position: absolute; left: 0px; right: 0px;}
/*.box01 .bottle_img{width: 300px; height: 300px; border-radius: 50%; position: absolute; left: 0; right: 0; margin: 0 auto; display: none;}*/

/*box02*/
.box02{background: url('../img/careerbox2.png')no-repeat center; padding:468px 0px; margin-top: -660px; }
.career {padding-right: 800px;}
.career li{height: 50px; line-height: 50px; list-style:none; min-width: 577px; padding-left: 10%;}
.career li:last-child{margin-left: 35px;}
.career li img{width:30px; height: 30px;  border-radius: 50%; margin-right: 5px; }
.career li p{display:inline; font-size: 17px;}

/*box03*/
.box03{background: url('../img/careerbox3.png')no-repeat center; padding:571px 0px; margin-top: -710px; background-size: cover}
.text_box{padding-right: 15%; min-width: 500px; float: right; margin-top: -165px}
.text_box h3{line-height: 25px; font-size: 27px; text-transform: uppercase; font-weight: 600; text-align: center; margin-bottom: 15px;}
.text_box p{font-size: 15px; line-height: 30px; padding-top:8px; font-weight: 300; font-size: 16px;}WWW
.text_box p:last-child{padding-bottom: 0px;}

/*box04*/
.box04{padding: 211px 0px; background: url('../img/careerbox5.png')no-repeat center; margin-top: -358px; margin-bottom: -187px}