/*top_bg*/
.top_bg{height: 500px;}
.top_bg video{min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translate(-50%,-10%);left: 50%; position: fixed; text-align: center;position: fixed; z-index: -9999}
.top_bg .top_text{position: absolute; width: 100%; padding-top: 100px; margin-top: 130px; color: #fff; text-align: center;}
.top_bg h2{font-size: 55px; line-height: 70px; color: #fff; padding-bottom: 10px; border-bottom:5px solid rgba(255,255,255,0.2); margin-bottom: 0px; font-weight: 900; display: inline-block;}
.top_bg p{padding-top: 15px; font-size: 20px; display: block;}

.angleArea{width: 100%; height: auto;}
.wrap > div{background-size: cover}

/*box01*/
.box01{padding: 700px 0px; background-color: #fff; background: url('../img/content_bg.png')no-repeat center; position: relative}
.box01 h2{font-size: 28px; text-align: center;line-height: 32px; margin: 0 auto; margin: -300px;}
.box01 .bottle{width: 10px; height: 10px; position: absolute; left: 0px; right: 0px;}
.box01 ul{margin-top: 500px;}
.box01 ul li{list-style: none; width: 50%; float: left;}
.box01 ul li p{text-align: center}
.plus_text{text-align: center; margin: 0 auto; display: block; height: 300px; line-height: 300px;}
.box01 .bottle_img{width: 300px; height: 300px; border-radius: 50%; position: absolute; left: 0; right: 0; margin: 0 auto; display: inline}

/*box02*/
.box02{background: url('../img/careerbox2.png')no-repeat center; padding:467px 0px; margin-top: -472px; }
.career li{height: 50px; line-height: 50px; text-align: center; list-style:none}
.career li:last-child{padding-bottom: 20px;}
.career li img{width:30px; height: 30px;  border-radius: 50%; margin-right: 5px; }
.career li p{display:inline; font-size: 15px;}

/*box03*/
.box03{background: url('../img/careerbox3.png')no-repeat center; padding:467px 0px; margin-top: -470px; background-size: cover}
.content > li{width: 50%; height: 100%; float: left;}
.content h3{line-height: 25px; font-size: 27px; text-transform: uppercase; font-weight: 600; text-align: center}
.text_box p{font-size: 15px; line-height: 30px; padding-top:15px; font-weight: 300; text-align: center;}
.text_box p:last-child{padding-bottom: 0px;}

/*box04*/
.box04{background: url('../img/careerbox4.png')no-repeat center; padding:550px 0px; margin-top: -470px; background-size: cover}

/*box05*/
.box05{background: url('../img/careerbox5.png')no-repeat center; background-size: cover; margin-top: -320px; padding: 172px 0px;}