/*960~670*/
#header { padding-top:20px; min-width:100%; position:absolute; }
#header h1 { padding-left:20px; float:none; padding-top:20px; }
#header h1 img { width:130px;}
#header.fix h1 {transform:scale(0.75) translate(0px,20px);}
#header dl { float:none; position:absolute; right:20px; top:20px; padding-right:0;}
#header dl dd.listBtn { width:50px; height:50px; background-size:50px; }
#header dl dd img { height:35px; }
#header dl dd a { display:none; width:50px; height:50px; line-height:50px;}
#header dl .close_list a { display:block; background-size:25px;  }



#header.show { position:fixed; height:50px; }
#header.show h1 { padding-left:20px; float:none; padding-top:15px; }
#header.show h1 img { width:130px;}
#header.show dl{ top:0px; right:0px;}
#header.show dl dd img { height:45px;}
#header.show dl dd.listBtn {width:50px; height:50px;  background-size:26px 18px;}
#header.show dl dd.list a { width:50px; height:50px; }
#header.show dl dd a { width:50px; height:50px; line-height:50px; background-size:50px;}
#header.show dl dd a:hover {background-size:50px}

.etcFix{width:100%;padding:0 50px;box-sizing:border-box;}
.etcFix h2{font-size:23px;}
.etcFix h2 span{float:none;display:block}
.etcFix h3{font-size:16px;}

.overlay .overlay-close { width:45px; height:45px; background-size:45px; top:20px; right:20px;}

.content { width:100%; }
.wArea { width:640px; margin:auto; position:relative;   }

.overlay {
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	right:-100%;

}
.overlay .listBox .sm li a { font-size:22px;}
/*메인 슬라이드*/

.circle_box { width:420px; height:420px; margin-left:-210px; margin-top:-210px; }

.slides .cont .box { width:380px; height:320px; margin-top:-120px; padding:0 0px; margin-left:-190px;  }
.slides .cont .box h2 { font-size:45px;}
.slides .cont .box p { padding:0px}
.slides .cont .box .textBox{padding:15px;font-size: 15px; height:50px;}

.flickity-page-dots {
  margin-left:-212px;
  margin-top:-212px;
  width:424px;
  height:424px;
}
.flickity-page-dots .dot:nth-child(4){top:-2px;left:208px;}
.flickity-page-dots .dot:nth-child(1){top:204px;left:416px;}
.flickity-page-dots .dot:nth-child(2){top:416px;left:208px;}
.flickity-page-dots .dot:nth-child(3){top:204px;left:0px;}
.mainMore{margin-left:-25px;}
.mainMore img{width:50px;}



.slider .downBtn img{ width:60px;}
.slider .downBtn { margin-left:-30px;}


.container01 .box02 { height: auto;}
.container01 .box02 ul { padding:30px 0;}

.container02 li { width:50%;}
.container02 .subText { margin-bottom:30px;}

.container01 .box02 ul li { width:50%; margin:10px 0;}
.container03 ul > li { height:350px;}
.taBox { display:none;  }
.content .subText { padding:0 20px;}
.container03 ul > li { width:100%; float:none !important; height:280px;}
.project_btn { height:75px; line-height:75px;}

/*회사소개*/
#boxWrapp .workBg { background:url(../images/sub/workBg2.jpg) no-repeat center 0px fixed; background-size:100%;}
#boxWrapp .contactBg{background: url(../images/sub/contactBg2.jpg) no-repeat center 0px fixed; background-size:100%}
#boxWrapp .aboutBg{background: url(../images/sub/aboutusBg2.jpg) no-repeat center 0px fixed; background-size:100%}
#boxWrapp .newsBg{background: url(../images/sub/newsBg2.jpg) no-repeat center 0px fixed; background-size:100}
#boxWrapp .subVisual { height:500px; }

#boxWrapp .abc .container03 li { height:auto;  }
#boxWrapp .subVisual .title { margin-top:-30px;}
#boxWrapp .title h2{display:inline-block;font-size:60px;color: #fff; line-height:60px; 
border-bottom:4px solid rgba(255,255,255,0.2);}
#boxWrapp .title p { font-size:17px; padding-top:10px;}
#boxWrapp .abc .container01 .box01, #boxWrapp .abc .container01 .box02 { padding:50px 0;}

#boxWrapp .abc .title { font-size:28px;}
#boxWrapp .abc .container01 .box01 ul{display: inline-block; width:450px; margin:40px auto 0 auto;  }
#boxWrapp .abc .container01 .box01 ul li{ float:left; width:40%; }
#boxWrapp .abc .container01 .box01 ul li div {opacity: 0.8;font-size: 20px;color: #fcd4d6; width:100%; height:110px; border-radius:90%; border:3px rgba(249,164,168, 0.2)  solid; padding-top:70px;}
#boxWrapp .abc .container01 .box01 ul li.cross{ width:20%; }
#boxWrapp .abc .container01 .box01 ul li.cross div {background: url(../images/main/cross.png) no-repeat center center;text-indent: -999em;overflow: hidden; border:0px; width:100%; height:192px; padding:0;}

.aboutBg{background: url(../images/sub/aboutusBg.jpg) no-repeat center 0px;}
.content .subText br:last-child { display:none;}

#boxWrapp .abc .container01 .box02 {webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover;}

#boxWrapp .abc .content .subText { padding-bottom:20px;}
#boxWrapp .abc .container03 li > div { height: auto; padding:40px 0;}


#boxWrapp .abc .container03 h2 { padding-top:0px;}

.subVisual .bottom_arrow { width:60px; height:50px; margin-left:-30px; margin-bottom:-25px;}
.subVisual .bottom_arrow img { width:60px;}
/*포트폴리오*/

#boxWrapp .cBtn .moreBtn  a{ padding:0 30px; height:45px;display:inline-block; font-size:13px; ont-family: 'Archivo Black',sans-serif; 
border:1px #424241 solid; color:#888888; line-height:45px; font-weight:bold; cursor:pointer;  }

#boxWrapp .cBtn .moreBtn  a:before { content:'';  background:url(../images/sub/loadBtn.png) no-repeat; background-size:15px; width:15px; height:15px;  }



#boxWrapp .work .bgBox img { width:100%; }


#boxWrapp .work .ff { padding-top:0px !important;}
#boxWrapp .work .ff > li { width:50%; height:270px;}
#boxWrapp .menuBar li a { line-height:50px; height:50px;}
#boxWrapp .menuBar { margin:70px 0; }

#boxWrapp .work .tt { font-size:16px; padding:20px 0 5px 20px;}
#boxWrapp .work .st { padding:0 20px 40px 20px;}
#boxWrapp .work li:hover .subText .st{ padding-bottom:20px;}

/*contact*/
.contact .ff > li li{min-height: 60px;padding: 10px 0;margin-right: 30px;border-bottom: 1px solid #d5333a; margin-left:10px;}
.mapBox .map_wrapper{height:400px;}
.contact .send_from { margin-right:10px;}



/* 레이아웃 */

.work_view .sectionMain .textBox_title { bottom:100px; }
.work_view .sectionMain .textBox_title h2{font-size:35px; line-height:35px; padding-bottom:10px;}
.work_view .wArea { height:auto; padding:20px; width:auto;}



.work_view .textBox {  padding-top:40px;}

.work_view .section01 .right_view_img { padding:60px 20px; }
.work_view	.Feature_list {   border-bottom:1px #353534 solid; padding-bottom:20px; padding-top:20px;}

.work_view .textBox .st { width:100%; float:none; border-bottom:1px #353534 solid; padding-bottom:20px;  }
.work_view .textBox .at { width:100%; float:none; margin-top:20px; padding-left:0px; border-left:0px;  }
.work_view	.designer { padding-top:20px;}




/*프로젝트 의뢰*/
.project_area {   width:420px; margin-right:250px; }
.project_request { padding:20px;  } 

.project_request .close { right:20px; top:20px; width:45px; height:45px; background-size:23px;}


.project_request .project_header h2 { font-size:25px;  line-height:25px; padding-bottom:20px; }
.project_request .project_part h3 { font-size:18px;}
.project_request .project_part h4 { font-size:15px;}
.project_request .select_choice li { width:33.3%}


.etcBg .closeBtn{
    width: 22px;
    height:22px;
}

/* news */

#boxWrapp .news_list .cw{ width:100%;padding:0 20px;box-sizing:border-box;}
#boxWrapp .news_list .title p{width:15%;font-size:14px;padding: 20px 0;}
#boxWrapp .news_list .title p span{font-size: 14px;padding-top: 0px;}
#boxWrapp .news_list .title dl{width:85%;padding-left:20px;padding-right:15px;box-sizing:border-box;}
#boxWrapp .news_list .title dt{font-size:18px;padding-top: 25px;line-height:15px;}
#boxWrapp .news_list .title dd{font-size:12px;padding-top:5px;padding-bottom:20px;}
#boxWrapp .news_list .title .arrow{background-size:100%;width:20px;height:10px;top:40px;right:20px;}

#boxWrapp .news_list .content { padding:50px 0;}
#boxWrapp .news_list .textBox .ct {
    font-size: 14px;
    top: -20px;
}
#boxWrapp .news_list .content .textBox {
    width: 100%;
    float: none;
}
#boxWrapp .news_list .content .imgBox {
    width: 100%;
    float: none;
	text-align:center;
	padding-top: 30px;
}
#boxWrapp .news_list .content .imgBox img{width: 70%;}
#boxWrapp .news_list .content .closeBtn {
    width:18px;
    height:18px;
    background-size:100%;
    top: -20px;
    right: 20px;
}
#boxWrapp .news_list .textBox .tt {
    font-size: 14px;
    padding-bottom: 10px;
}
#boxWrapp .news_list .textBox dt {
    width: 40px;
    font-size: 13px;
}
#boxWrapp .news_list .textBox dd {
    font-size: 13px;
}
#boxWrapp .news_list .textBox .st {
    padding-bottom: 15px;
}
#boxWrapp .news_list .textBox p {
    font-size: 13px;
}
#boxWrapp .news_list {
    margin-bottom: 30px;
}
#boxWrapp .loadBox {
    margin-top: 10px;
}
#boxWrapp .loadBox a {
    width: 129px;
    height: 40px;
    background-size:100%;
}
